"""
Создайте в корне проекта файл .env из копии этого файла и подставте:
1. Секретный ключ и флаг дебага проекта
2. Параметры для подключения к базе данных.
3. Данные для регистрации администратора.
4. Данные для регистрации менеджера.
5. Данные для регистрации обычного пользователя.
6. Настройки почтового сервера.
7. Настройки для использования Redis.
"""

# Django secret data
SECRET_KEY=
DEBUG=True

# Database secret data
DATABASE_NAME=mailing_manager
DATABASE_USER=postgres
DATABASE_PASSWORD=secret
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Admin register data
ADMIN_EMAIL=admin@sky.pro
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Manager register data
MANAGER_EMAIL=manager@sky.pro
MANAGER_USERNAME=manager
MANAGER_PASSWORD=manager

# User register data
USER_EMAIL=user@sky.pro
USER_USERNAME=user
USER_PASSWORD=user

# Mailing server data
EMAIL_HOST=smtp.your-email-provider.com
EMAIL_PORT=587
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password

# Redis settings
CACH_ENABLED=True
LOCATION=redis://localhost:6379/1