{% extends "mailing_manager/base.html" %}

{% block title %}Информация о рассылке{% endblock %}

{% block content %}

<!--control buttons-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3 class="h2">Информация о рассылке</h3>
    <div class="btn-group me-2">
        <a class="btn btn-primary" href="{% url 'mailing_manager:mailing_edit'  mailing.pk %}">
            Редактировать
        </a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal">
            Удалить
        </button>
        <a href="{% url 'mailing_manager:mailings_list' %}" class="btn btn-secondary">
            Назад
        </a>
    </div>
</div>
<!--modal-->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteModalLabel">Удаление рассылки</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить "{{ mailing.message }}"?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'mailing_manager:mailing_delete' mailing.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--mailing info-->
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <tbody>
            <tr>
                <td>Сообщение</td>
                <td>{{ mailing.message }}</td>
            </tr>
            <tr>
                <td>Получатели</td>
                <td>{{ mailing.clients }}</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>{{ mailing.status }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}