{% extends "mailing_manager/base.html" %}

{% block title %}Редактирование рассылки{% endblock %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Заполните форму</h4>
        </div>
        <div class="card-body">
            <form method="post" class="form-floating" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'mailing_manager:mailings_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}